.header-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: aqua;

    .header-parent {
        width: 38%;
        margin: 0 auto;
        padding: 20px 0;
        
        ul {
            // text-align: center;
            display: flex;
            gap: 20px;
        }
    }
}
